<div *ngIf="course | async as course" class="course-page">
  <div class="course-page__heading">
    <a href="#" class="course-page__back">
      <ion-icon name="arrow-back" ></ion-icon>
    </a>
    <div>
      <h5 class="course-page__id">{{ course.id }}</h5>
      <h2 class="course-page__title">{{ course.title }}</h2>
    </div>
  </div>
  <p class="course-page__about">{{ course.description }}</p>
  <br><br>

  <!--stats-->
  <div class="course-page__statistics">
    <div class="course-page__card">
      0{{ course.duration }}
      <span class="course-page__label">Months</span>
    </div>
    <div class="course-page__card">
      {{ course.currentStudents }} / {{ course.maxStudents }}
      <span class="course-page__label">Students</span>
    </div>
    <div class="course-page__card">
      {{ course.level }}
      <span class="course-page__label">Level</span>
    </div>
    <div class="course-page__card">
      {{ course.audience }}
      <span class="course-page__label">Audience</span>
    </div>
    <div class="course-page__card">
      <ion-icon name="add"></ion-icon>
      <span class="course-page__label">More</span>
    </div>
  </div>

  <!--material-->
  <br><br>
  <div class="course-page__materials" *ngIf="course.materials else nothing"></div>
  <ng-template #nothing>
    <div class="course-page__no-material">
      <p>This course have no materials at the moment. Those content will be displayed here
        when they are available. Stay in touch!</p>
      <button class="btn" (click)="cs.displayMarkdownEditor = true;">Edit Page Content</button>
    </div>
  </ng-template>
  <br><br>

  <!--md content-->
  <md-editor
    class="editor"
    name="content" 
    [ngModel]="markdownContent" 
    mode="preview" 
    required 
    maxlength="1500">
  </md-editor>
</div>

<!--MD editor-->
<app-md-editor (contentChange)="onMdContentChanged($event)" [content]="markdownContent"></app-md-editor>

