// variables
*:root {
  --sidebar-width: 26rem;
  --color-1: #5155cc;
  --color-2: #686de0;
  --color-3: #ecf0f1;
  --color-4: #ffffff;
  --color-5: #000000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'George Rounded', serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-3);
}

// sidebar
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--color-4);

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__brand {
    height: 8rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--color-3);

    ion-icon {
      font-size: 3rem;
      margin-right: 1rem;
      color: var(--color-1);
    }

    h3 {
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }

  &__menu-title {
    padding: 2.4rem 3rem;
    opacity: .4;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
  }
  
  &__link {
    padding: 2rem 3rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-5);
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;

    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }

    &--active {
      color: var(--color-1);
      background-color: rgba(#686de0, .3);
      border-color: currentColor;
    }
    
    &:hover {
      background-color: rgba(#686de0, .1);
      &.sidebar__link--active {
        background-color: rgba(#686de0, .3);
      }
    }
  }

  &__footer {
    margin-top: auto;
    padding: 3rem;
    text-align: center;
  }

  &__social {
    font-size: 2rem;
    margin-bottom: 1rem;

    ion-icon {
      cursor: pointer;

      &:hover {
        color: var(--color-1);
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__copyrights {
    font-size: 1.3rem;
    opacity: .7;
    line-height: 1.6;
  }
}

// search box
.search {
  height: 8rem;
  width: 100%;
  background-color: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  
  &__field {
    display: flex;
    align-items: center;
    width: 100%;
    
    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
  
  &__text {
    width: 100%;
    border: 0;
    margin-right: 2rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
  }

  &__filters {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
}

// avatar img
.avatar {
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(to right bottom, var(--color-1), var(--color-2));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-4);
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

// container for all the pages in the dashboard
.dashboard-page-container {
  width: calc(100% - var(--sidebar-width));
  position: absolute;
  top: 0;
  left: var(--sidebar-width);

  // this is where all the pages gets rendered
  &__content {
    padding: 3rem;
  }
}

// normal button
.btn {
  text-decoration: none;
  background-color: var(--color-1);
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--color-4);
  border-radius: 2px;
  transition: background-color .3s;

  &:hover {
    background-color: var(--color-2);
  }
}

// individual items
.add-course-btn {
  background-color: var(--color-1);
  width: 6rem;
  height: 6rem;
  border: 0;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  right: 3rem;
  bottom: 5rem;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 1rem rgba(black, .2);
  }

  ion-icon {
    font-size: 2rem;
  }
}

// overlay mask
.mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, .8);
  position: fixed;
  z-index: 1;
}

// form container
.form-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// forms
.form {
  background-color: white;
  padding: 3rem 2rem;
  width: 30%;
  position: relative;

  &__close-btn {
    position: absolute;
    right: -6rem;
    top: -6rem;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: none;
    width: 6rem;
    height: 6rem;
    color: white;
    background-color: transparent;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: gray;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
  }
  
  &__label {
    font-weight: 900;
  }

  &__field {
    padding: 1rem;
    border: 1px solid #b1b1b1;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.6rem;

    &.ng-invalid.ng-touched {
      outline: 1px solid tomato;
      border-color: tomato !important;
    }

    &:focus {
      outline: 1px solid var(--color-1);
      border-color: var(--color-1) !important;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    outline: none;
    align-self: flex-start;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      background-color: gray;
    }
  }
}

// courses page
.course-list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

// single course card
.course {
  width: calc((100% / 4) - 2rem + (2rem / 4) - 1rem);
  background-color: white;
  padding: 2rem;
  padding-bottom: 8rem;
  margin-bottom: 2rem;
  position: relative;
  height: 26rem;
  box-shadow: 0 1rem 1rem rgba(black, .1);
  transition: all .3s;
  border-radius: 2px;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:hover {
    box-shadow: 0 1rem 1rem rgba(black, .2);
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 7rem;
    width: 7rem;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
    transition: all .3s;

    &:hover {
      background-color: var(--color-1);
      color: white;
    }

    ion-icon {
      font-size: 2rem;
      color: inherit;
    }
  }
}

// course details page
.course-page {
  &__id {
    color: var(--color-1);
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__about {
    line-height: 1.6;
    letter-spacing: .3px;
  }

  &__statistics {
    margin-top: 2rem;
    display: flex;
  }

  &__card {
    background-color: white;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 1rem 1rem rgba(black, .1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 900;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__label {
    font-weight: 400;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  &__materials {

  }

  &__no-material {
    margin-top: 1rem;
  }
}