*:root {
  --sidebar-width: 26rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'George Rounded', serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ecf0f1;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: white;

  &__brand {
    height: 8rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: #ecf0f1;

    ion-icon {
      font-size: 3rem;
      margin-right: 1rem;
      color: #5155cc;
    }

    h3 {
      font-size: 1.5rem;
      letter-spacing: 2px;
    }
  }

  &__menu-title {
    padding: 2.4rem 3rem;
    opacity: .4;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
  }
  
  &__link {
    padding: 2rem 3rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;

    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }

    &--active {
      color: #5155cc;
      background-color: rgba(#686de0, .3);
      border-color: currentColor;
    }
    
    &:hover {
      background-color: rgba(#686de0, .1);
      &.sidebar__link--active {
        background-color: rgba(#686de0, .3);
      }
    }
  }
}

// search box
.search {
  height: 8rem;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  
  &__field {
    display: flex;
    align-items: center;
    width: 100%;
    
    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
  
  &__text {
    width: 100%;
    border: 0;
    margin-right: 2rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
  }

  &__filters {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
}

// avatar img
.avatar {
  width: 4rem;
  height: 4rem;
  background-color: #5155cc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

// container for all the pages in the dashboard
.dashboard-page-container {
  width: calc(100% - var(--sidebar-width));
  position: absolute;
  top: 0;
  left: var(--sidebar-width);

  // this is where all the pages gets rendered
  &__content {
    padding: 3rem;
  }
}