@font-face {
  font-family: 'George Rounded';
  src: url('assets/fonts/GeorgeRoundedRegular.woff2') format('woff2'),
      url('assets/fonts/GeorgeRoundedRegular.woff') format('woff'),
      url('assets/fonts/GeorgeRoundedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'George Rounded';
  src: url('assets/fonts/GeorgeRoundedBold.woff2') format('woff2'),
      url('assets/fonts/GeorgeRoundedBold.woff') format('woff'),
      url('assets/fonts/GeorgeRoundedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'George Rounded';
  src: url('assets/fonts/GeorgeRoundedLight.woff2') format('woff2'),
      url('assets/fonts/GeorgeRoundedLight.woff') format('woff'),
      url('assets/fonts/GeorgeRoundedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'George Rounded';
  src: url('assets/fonts/GeorgeRoundedSemibold.woff2') format('woff2'),
      url('assets/fonts/GeorgeRoundedSemibold.woff') format('woff'),
      url('assets/fonts/GeorgeRoundedSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
