.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;

  & > div > * {
    margin-bottom: 1.6rem;
  }

  ion-icon {
    font-size: 8rem;
    color: #5155cc;
    margin-bottom: 1rem;
  }
}