<div class="sidebar">
  <div class="sidebar__content">
    
    <div class="sidebar__brand">
      <h3>knowledgebase</h3>
    </div>

    <div class="sidebar__menu">
      <div class="sidebar__menu-title">
        <h4>Menu</h4>
      </div>
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <a routerLink="/dashboard/students" routerLinkActive="sidebar__link--active" class="sidebar__link">
            Students
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/employees" routerLinkActive="sidebar__link--active" class="sidebar__link">
            Employees
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/library" routerLinkActive="sidebar__link--active" class="sidebar__link">
            Library
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/courses" routerLinkActive="sidebar__link--active" class="sidebar__link">
            Courses
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/finance" routerLinkActive="sidebar__link--active" class="sidebar__link">
            Finance
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>