<div class="sidebar">
  <div class="sidebar__content">
    
    <div class="sidebar__brand">
      <ion-icon name="flame"></ion-icon>
      <h3>Brand</h3>
    </div>

    <div class="sidebar__menu">
      <div class="sidebar__menu-title">
        <h4>Menu</h4>
      </div>
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <a routerLink="/dashboard/students" routerLinkActive="sidebar__link--active" class="sidebar__link">
            <ion-icon name="contacts"></ion-icon>
            Students
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/finance" routerLinkActive="sidebar__link--active" class="sidebar__link">
            <ion-icon name="card"></ion-icon>
            Finance
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/employees" routerLinkActive="sidebar__link--active" class="sidebar__link">
            <ion-icon name="people"></ion-icon>
            Employees
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/library" routerLinkActive="sidebar__link--active" class="sidebar__link">
            <ion-icon name="book"></ion-icon>
            Library
          </a>
        </li>
        <li class="sidebar__item">
          <a routerLink="/dashboard/courses" routerLinkActive="sidebar__link--active" class="sidebar__link">
            <ion-icon name="paper"></ion-icon>
            Courses
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>