<div class="form-container">
  <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <button class="form__close-btn" type="button" (click)="cs.displayForm = false;">
      <ion-icon name="close"></ion-icon>
    </button>
    <div class="form__group">
      <label for="title" class="form__label">Title</label>
      <input type="text" class="form__field" ngModel name="title" required>
    </div>
    <div class="form__group">
      <label for="description" class="form__label">Description</label>
      <textarea rows="3" class="form__field" ngModel name="description" required></textarea>
    </div>
    <div class="form__group">
      <label for="duration" class="form__label">Duration</label>
      <input type="number" class="form__field" ngModel name="duration" required>
    </div>
    <div class="form__group">
      <button class="btn" type="submit" [disabled]="!form.valid">
        <ion-icon name="add"></ion-icon>
        <span>Add Course</span>
      </button>
    </div>
  </form>
</div>